<!DOCTYPE html>
<!-- Importamos [xmlns:th="http://www.thymeleaf.org"] para poder usar las plantillas de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"></link>
<style type="text/css"></style>
<title th:text="${titlBarr}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/institute/save}" th:object="${items}"
				method="POST">
				<div class="card">
					<div class="card-header">
						<h2 th:text="${titldeta}"></h2>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>ID </label> <input th:field="*{id}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Name </label> <input th:field="*{name}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Acronym </label> <input th:field="*{acronym}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Web Link</label> <input th:field="*{website_link}"
								type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>Prgram ID </label> <input th:field="*{program_id}"
								type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>Institute Type </label> <input
								th:field="*{institution_type_id}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Institute Type </label> <input th:field="*{added}"
								type="text" class="form-control" />
						</div>
					</div>
					<div class="card-header">
						<input type="submit" value="Save" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>