<!DOCTYPE html>
<!-- Importamos [xmlns:th="http://www.thymeleaf.org"] para poder usar las plantillas de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"></link>
<style type="text/css"></style>
<title th:text="${titlBarr}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="list-group">
		<a th:href="@{/institute/index}" class="list-group-item">See Institute</a>
		<a th:href="@{/type_institute/index}" class="list-group-item">See Institution type</a> 
		<a th:href="@{/loc_element_types/index}" class="list-group-item">See Location Institution type</a>
	</div>
</body>
</html>