<!DOCTYPE html>
<!-- Importamos [xmlns:th="http://www.thymeleaf.org"] para poder usar las plantillas de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"></link>
<style type="text/css"></style>
<title th:text="${titlBarr}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div th:if="${institution_type.isEmpty()}">No existen registros</div>
	<div class="container mt-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 align="center" th:text="${titlenca}"></h1>
			</div>
			<table border="1" class="table">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Acronym</th>
						<th>Name</th>
						<th>Type</th>
						<th>Event</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="inst_type : ${institution_type}">
						<td align="center" th:text="${inst_type.id}"></td>
						<td align="justify" th:text="${inst_type.name}"></td>
						<td align="center" th:text="${inst_type.acronym}"></td>
						<td align="center"
							th:text="${inst_type.rep_ind_organization_type_id}"></td>
						<td><a class="btn btn-warning">Edit</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>